.header{
  height: 70px;
}
#titre{
font-size: 25px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#ts{
  height: 500px;
  padding-top: 20px;
}
#vide{
  background-color: rgb(255, 195, 195);
  height: 100px;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.modif{
    cursor: pointer;
    color: green;
}
.supp{
    cursor: pointer;
    color: red;

}
#deletall{
  color: black;
font-size: 26px;
cursor: pointer;
}
#ajout{
  color: black;
  font-size: 26px;
  cursor: pointer;
}